p {
	font-size: 16px;
}
.green {
	background-color: green; padding:10px;
}
.red {
	background-color: red; padding:5px;
}
.yellow {
	background-color: yellow; padding:5px;
}
.blue {
	background-color: blue; padding: 5px;
}
